<div id="feed">
  <h2>My Feed Page</h2> <br />
    <h5 class=""><%= link_to "New", new_feed_path %></h5> 
      <div class="feed_box">
        <% @feeds.each do |feed| %>
          <p class="feed_url">
            <%= link_to feed.url, feed %>
            <%= link_to "Edit", edit_feed_path(feed), class: "blue" %> 
            <%= link_to "Delete", feed_path(feed), method: :delete, data: { confirm: 'Are you sure you want to delete this feed url?' }, class: "blue" %>
          </p>

          <div class="entry_wrapper">
            <div class="entry_box">
              <% feed.entries.each do |entry| %>
                <p class="entry_title"><%= sanitize link_to entry.title, entry.url %></p>


                <div class="select_tag">
                  <%= form_tag entries_path do %>
                    <%= hidden_field_tag :url, entry.url %>
                    <%= select_tag :list, options_from_collection_for_select(@lists, :id, :name) %>
                    <%= submit_tag "Add To List", class: "btn" %>
                  <% end %>
                </div>

                  <p class="entry_info">
                    <%= sanitize get_info(entry), length: 30 %>
                  </p>

            
          <% end %> <br />
      </div>
    </div>
    <% end %>
  </div>
</div>