<header class="lists">
  <h4>
    <%= @title %><br />
    <h6><%= @feed.url %></h6><small><%= link_to "Show more", feed_path(@feed, amount: 6 ) if @entries.count == 3 %></small>
  </h4>
  <br />
  <% @entries.each do |entry| %>
    <p><%= link_to entry.title, entry.url, target: "_blank" %></p>
    
    <p><%= sanitize get_info(entry),  length: 30 %></p>
    <br />
  <% end %>

</header>
