<div class="lists">
  <h4>
    Edit Item URL
    <small><%= link_to 'Back', :back %></small>
  </h4> <br />
  <%= form_for [@list, @item] do |f| %>
    <%= f.label :url, "URL" %>
    <%= f.text_field :url %>

    <%= f.submit "Save" %>

  <% end %>

</div>