<!DOCTYPE html>
<html>
<head>
  <title>Jehrni</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div id="nav">
    <%= render "nav" %>
  </div>

  <div class="lists">
    <% if flash[:notice] %>
      <div class="alert notice">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert error">
        <%= flash[:error] %>
      </div>  
    <% end %>
  </div>


  <section>
    <%= yield %>
  </section>

</body>
</html>
